:root{
	background: #121212;
}

html {
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin:0;
	text-decoration:none;
	/*list-style:none;*/
	box-sizing: border-box;
}

body{
	font-family: "Yanone Kaffeesatz", sans-serif;
}

body a{
	color: #B99AE8;
	font-weight: bold;
}

nav{
	height: 80px;
	width: 100%;
	background:#34495e;
}

.vertical-menu{
	position:absolute;
	display:none;
	background:#34495e;
	margin-top:110px;
	/*border: 1px solid white;
	border-radius: 15px;*/
}

li:hover .vertical-menu{
	display:block;
	text-align: center;
}

.sticky{
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

label.logo{
	font-weight: bold;
	color:white;
	padding: 0 100px;
	line-height: 80px;
}

nav ul{
	float:right;
	margin-right: 40px;
	text-align: center;
		display:inline-block;
		position:fixed;
		width:50%;
		height: 100vh;
		background:#2f3640;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all .5s;
	
}

nav li{
	/*display:inline-block;*/
	margin: 0 8px;
	line-height: 80px;
	display:block;
	/*margin: 50px 0;*/
	padding:5px 0;
	border:2px solid white;
}

nav ul li ul li{
	width:100%;
	border:none;
}
nav ul.show{
		left:0;
}
	
nav a{
	color:white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius:3px;
}

label a{
		font-size: 35px;
}

a.active,a:hover{
	border:none;
	color: #3498db;
	transition: .5s;
}

nav #icon{
	color:white;
	/*display:none;*/
	font-size:30px;
	line-height: 80px;
	float:right;
	cursor:pointer;
	width:70px;
	justify-content:center;
	display:flex;
	align-items:center;
	background:coral;
}
.header-text{
	display: flex;
	height: 300px;
	width: 100%;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	letter-spacing: 12px;
}
@font-face {
  font-family: Poke-Font1;
  src: url('../fonts/PokemonSolid.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Poke-Font2;
  src: url('../fonts/PokemonHollow.ttf') format('truetype');
  font-display: swap;
}
.first{
	font-weight: bold;
	font-size: 50px;
	font-family: "Poke-Font2";
}

.second{
	font-size: 30px;
	font-family: "Poke-Font1";
}

.third{
	text-align: right;
}
header{
	width: 100%;
	height: 350px;
	background: -webkit-linear-gradient(to right, #1AA7D5, #010F57);
	background: linear-gradient(to right, #1AA7D5, #010F57);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top:80px;
}
.wave{
	position: absolute;
	width: 100%;
	bottom: 0;
}

h1{
	color: #DEDEDE;
	font-size: 30px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h2{
	color: #DEDEDE;
	font-size: 28px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h3{
	color: #DEDEDE;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h4{
	color: #DEDEDE;
	font-size: 20px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

main p{
	color: #F9FFEE;
	margin: 0 0 25px 0;
}

img {
  filter: brightness(.8) contrast(1.2);
}
/*
				GALLERY
*/

.gallery-port{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5px;
}

.img-port{
	width: 40%;
	/*height: 21%;*/
	/*margin: 20px;*/
	padding: 10px;
	/*position: relative;*/
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-port img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	display: block;
	border-radius: 15px;
}

.img-text{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
}
/*
				GALLERY GRID
*/
.img-grid-2{
	width: calc(80%/2);
	/*height: 21%;*/
	/*margin: 10px;*/
	/*position: relative;*/
	padding:5px;
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-grid-2 img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	/*vertical-align:middle;*/
	/*display: block;*/
	border-radius: 15px;
}
.scrollToTopBtn {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	border-radius: 25px;
	opacity: 0.5;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}
blockquote{
		color: #DEDEDE;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
}

.galleta{
	position:fixed;
	bottom:30px;
	left:30px;
	background:#fff;
	max-width:365px;
	border-radius:15px;
	text-align: center;
	padding:25px 25px 30px 25px;	
}
.galleta.hide{
	opacity: 0;
	visibility: hidden;
	/*transition: all 0.3s ease;*/
}
.galleta img{
	max-width:90px;
}
.galleta .contenedor-galleta{
	margin-top:10px;
}
.contenedor-galleta p{
	color:#858585;
	margin:5px 0 20px 0;
}
.contenedor-galleta .buttons{
	display:flex;
	align-items:center;
	justify-content:center;
}

.buttons .item{
	margin:0 10px;
}
.buttons button{
	padding:10px 20px;
	background:#7095E1;
	border:none;
	outline:none;
	font-size:16px;
	font-weight:500;
	color:#fff;
	cursor:pointer;
	border-radius:5px;
}

.buttons a{
	color:#7095E1;
}

.video{
display:flex;
text-align:center;
justify-content: space-around;
}

.simple-list{
	box-shadow: 0 0 10px  white;
	margin:20px;
	padding-left: 20px;
	list-style-type: square;
	color: white;
}

					/* FOOTER*/

footer{
	position: fixed bottom;
	background: #34495e;
	padding: 5px 0;
}

.content-foo{
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.content-foo a{
	color: #DEDEDE;
}

.content-foo a:hover{
	color: #3498db;
	transition: .5s;
}

.final-title{
	text-align: center;
	font-size: 24px;
	color: #DEDEDE;
	padding-top: 5px;
	margin-top: 10px;
	border-top: 5px solid white;
	font-weight: bold;
}

@media (max-width:1048px){
	label.logo{
		font-size:32px;
		padding-left:20px;
	}
	nav ul{
		margin-right:20px;
	}
	nav a{
		font-size:16px;
	}
		label a{
		font-size:32px;
	}
	/* gallery */
	
	.img-port{
		width: 44%;
		height: 90%;
	}
		.img-grid-2{
	width: calc(100%/2);
	}
}
@media (max-width:909px){
	.first{
		font-size: 40px;
	}

	.second{
		font-size: 25px;	
	}
	nav #icon{
	width:70px;
	/*justify-content:center;
	display:flex;
	align-items:center;
	background:coral;*/
	}
	nav ul{
	/*display:inline-block;
		position:fixed;*/
		width:80%;
		/*height: 100vh;
		background:#2f3640;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all .5s;*/
	}
	nav li{
		/*display:block;
		/*margin: 50px 0;*/
		padding:20px 0;
		border:2px solid white;
		line-height: 30px;
	}
	nav a{
		font-size:15px;
	}
	.vertical-menu{
		margin-top:70px;
	}
	label a{
		font-size:32px;
	}
	/*a.active,a:hover{
		border:none;
		color: #3498db;
	}*/
	/*nav ul.show{
		left:0;
	}*/
	/* gallery */
	
	.img-port{
		width: 95%;
		height: 90%;
	}

		/*  footer */
	
	.content-foo{
		margin-bottom: 10px;
		text-align: center;
		font-size: 12px
	}
	

	.final-title{
		font-size: 15px;
	}
}
